#home {
    background-color: #3c61ac;
    height:100vh;
    display:flexbox;
    justify-items: center;
}

h1{
    font-size: 50px;
    color:white;
}

p {
    color:white;
}

.recipe{
    border:white solid 2px;
    width:500px;
    display:flexbox;
    justify-items: center;

}